USE [master]
GO
/****** Object:  Database [CrmProject]    Script Date: 10/18/2017 12:21:11 PM ******/
CREATE DATABASE [CrmProject]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrmProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrmProject]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/18/2017 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [varchar](80) NOT NULL,
	[street] [varchar](50) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[province] [varchar](2) NOT NULL,
	[postal] [varchar](10) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[contact_firstname] [varchar](40) NOT NULL,
	[contact_lastname] [varchar](40) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[salesrep_id] [int] NOT NULL,
	[email] [varchar](80) NOT NULL,
	[country] [varchar](20) NULL,
	[fax] [varchar](20) NULL,
	[web] [varchar](50) NULL,
 CONSTRAINT [pk_Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 10/18/2017 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[sales_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[purchase_date] [datetime] NULL,
	[amount] [money] NULL,
 CONSTRAINT [pk_Sales] PRIMARY KEY CLUSTERED 
(
	[sales_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Salesreps]    Script Date: 10/18/2017 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salesreps](
	[lastname] [varchar](40) NOT NULL,
	[firstname] [varchar](40) NOT NULL,
	[username] [int] NOT NULL,
	[password] [varchar](20) NOT NULL,
	[status] [bit] NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[cellphone] [varchar](15) NOT NULL,
	[email] [varchar](80) NOT NULL,
	[role] [varchar](20) NOT NULL,
 CONSTRAINT [pk_Salesreps] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  View [dbo].[SalesYtd]    Script Date: 10/18/2017 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SalesYtd]
as
SELECT u.username, s.amount, MONTH(s.purchase_date) AS mth FROM(Salesreps AS u INNER JOIN Customers AS c ON u.username = c.salesrep_id) LEFT JOIN Sales AS s ON c.customer_id = s.customer_id WHERE YEAR(purchase_date) = YEAR(GETDATE() )
GO
/****** Object:  View [dbo].[salesss]    Script Date: 10/18/2017 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[salesss]
as
select * from 
( select username, mth, amount from SalesYtd) s
pivot
(
sum(amount) for [mth] in ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12])) pvt
GO
/****** Object:  View [dbo].[v_Sales_LatestPurchase]    Script Date: 10/18/2017 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Sales_LatestPurchase] AS
select * from(
	select
		sales_id,
		customer_id,
		amount,
		purchase_date,
		row_number() over(partition by customer_id order by purchase_date desc) as rn
		from
		dbo.sales) t
		where t.rn = 1;
;

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 10/18/2017 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[subject] [varchar](50) NULL,
	[note] [varchar](1000) NULL,
	[type] [varchar](25) NULL,
	[msg_date] [datetime] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [pk_Messages] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 10/18/2017 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](25) NULL,
	[note] [varchar](1000) NULL,
	[status] [int] NULL,
	[scheduled_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[salesrep_id] [int] NOT NULL,
	[subject] [varchar](100) NULL,
	[startTime] [varchar](25) NULL,
	[endTime] [varchar](25) NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [pk_Prospect] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Customer_id], [company_name], [street], [city], [province], [postal], [phone], [contact_firstname], [contact_lastname], [created_date], [status], [salesrep_id], [email], [country], [fax], [web]) VALUES (2852, N'Active Green & Ross Complete Tire & Auto Centre', N'14 Queen St N', N'Streetsville NHD', N'ON', N'L5N 1A1', N'905-858-1920', N'Franklin', N'Talon', CAST(N'2015-09-03T00:00:00.000' AS DateTime), 0, 1795661, N'14@activegreenross.com', N'Canada', N'', NULL)
INSERT [dbo].[Customers] ([Customer_id], [company_name], [street], [city], [province], [postal], [phone], [contact_firstname], [contact_lastname], [created_date], [status], [salesrep_id], [email], [country], [fax], [web]) VALUES (2853, N'One World Auto Service Inc.', N'3555 Hawkestone Rd', N'Mavis-Erindale EA', N'ON', N'L5C 2V1', N'905-949-6885', N'Ryan', N'Chasity', CAST(N'2015-10-31T00:00:00.000' AS DateTime), 0, 1795661, N'1world@live.ca', N'Canada', NULL, NULL)
INSERT [dbo].[Customers] ([Customer_id], [company_name], [street], [city], [province], [postal], [phone], [contact_firstname], [contact_lastname], [created_date], [status], [salesrep_id], [email], [country], [fax], [web]) VALUES (2854, N'hepworth', N'222 hepworth', N'lasalle', N'qc', N'h8p3c8', N'514-514-5144', N'Im', N'tired', CAST(N'2010-02-02T00:00:00.000' AS DateTime), 0, 1795661, N'winotojan@gmail.com', N'canada', N'514-514-5144', NULL)
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([message_id], [customer_id], [subject], [note], [type], [msg_date], [user_id]) VALUES (1, 2854, N'test', N'After fixing test', N'Email', CAST(N'2017-10-10T10:44:45.463' AS DateTime), 1795661)
INSERT [dbo].[Messages] ([message_id], [customer_id], [subject], [note], [type], [msg_date], [user_id]) VALUES (2, 2854, N'test', N'after change', N'Email', CAST(N'2017-10-10T10:49:53.150' AS DateTime), 1795661)
INSERT [dbo].[Messages] ([message_id], [customer_id], [subject], [note], [type], [msg_date], [user_id]) VALUES (3, 2904, N'gghg', N'ghfghfghfg', N'Email', CAST(N'2017-10-10T11:30:35.563' AS DateTime), 1795661)
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([sales_id], [customer_id], [purchase_date], [amount]) VALUES (1, 2854, CAST(N'2017-03-04T00:00:00.000' AS DateTime), 11780.0000)
INSERT [dbo].[Sales] ([sales_id], [customer_id], [purchase_date], [amount]) VALUES (2, 2854, CAST(N'2017-03-22T00:00:00.000' AS DateTime), 11305.0000)
INSERT [dbo].[Sales] ([sales_id], [customer_id], [purchase_date], [amount]) VALUES (3, 2854, CAST(N'2017-08-01T00:00:00.000' AS DateTime), 4130.0000)
GO
SET IDENTITY_INSERT [dbo].[Sales] OFF
INSERT [dbo].[Salesreps] ([lastname], [firstname], [username], [password], [status], [phone], [cellphone], [email], [role]) VALUES (N'Janputra', N'Winoto', 1795661, N'123', 1, N'514-123-4567', N'514-335-0000', N'minx1208@hotmail.com', N'manager')
INSERT [dbo].[Salesreps] ([lastname], [firstname], [username], [password], [status], [phone], [cellphone], [email], [role]) VALUES (N'Seyedzadeh ', N'Vajihehalsadat', 1795662, N'123', 1, N'514-321-7654', N'514-353-3535', N'vaji@vaji.com', N'manager')
INSERT [dbo].[Salesreps] ([lastname], [firstname], [username], [password], [status], [phone], [cellphone], [email], [role]) VALUES (N'Smith', N'Mith', 1795663, N'456', 1, N'514-514-5145', N'514-353-3533', N'email@email.com', N'sales')
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([schedule_id], [type], [note], [status], [scheduled_date], [created_date], [salesrep_id], [subject], [startTime], [endTime], [customer_id]) VALUES (5, N'Face To Face', N'finished!!!!!!!!!!!!', 2, CAST(N'2017-10-14T00:00:00.000' AS DateTime), CAST(N'2017-10-11T16:31:44.257' AS DateTime), 1795661, N'test of adding an appointment', N'4:00 AM', N'5:00 AM', 3048)
INSERT [dbo].[Schedules] ([schedule_id], [type], [note], [status], [scheduled_date], [created_date], [salesrep_id], [subject], [startTime], [endTime], [customer_id]) VALUES (6, N'Face To Face', N'meeting is done !!!!!!!!!!', 2, CAST(N'2017-10-14T00:00:00.000' AS DateTime), CAST(N'2017-10-11T16:32:32.443' AS DateTime), 1795661, N'test of adding an appointment', N'2:00 AM', N'3:00 AM', 3048)
INSERT [dbo].[Schedules] ([schedule_id], [type], [note], [status], [scheduled_date], [created_date], [salesrep_id], [subject], [startTime], [endTime], [customer_id]) VALUES (7, N'Face To Face', N'', 0, CAST(N'2017-10-24T00:00:00.000' AS DateTime), CAST(N'2017-10-11T16:32:33.977' AS DateTime), 1795661, N'test of adding an appointment', N'12:00 AM', N'3:00 AM', 3048)
SET IDENTITY_INSERT [dbo].[Schedules] OFF
ALTER TABLE [dbo].[Schedules] ADD  CONSTRAINT [DF_Schedules_completed]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Schedules] ADD  CONSTRAINT [DF_Schedules_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [fk_Customers_SalesReps] FOREIGN KEY([salesrep_id])
REFERENCES [dbo].[Salesreps] ([username])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [fk_Customers_SalesReps]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [fk_messages_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([Customer_id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [fk_messages_customers]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [fk_sales_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([Customer_id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [fk_sales_customers]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [fk_Schedules_SalesReps] FOREIGN KEY([salesrep_id])
REFERENCES [dbo].[Salesreps] ([username])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [fk_Schedules_SalesReps]
GO
USE [master]
GO
